* {
  text-decoration: none;
  list-style: none;
  color: white;
  background: linear-gradient(to left, #081c24, #1b3e46);
  font-family: Arial, sans-serif;


  }
  
span{
  color: #2dafe9;
}        
